<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <php>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="SwiftMailer unit tests">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="SwiftMailer acceptance tests">
            <directory>tests/acceptance</directory>
        </testsuite>
        <testsuite name="SwiftMailer bug">
            <directory>tests/bug</directory>
        </testsuite>
        <testsuite name="SwiftMailer smoke tests">
            <directory>tests/smoke</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
        <listener class="Mockery\Adapter\Phpunit\TestListener" />
    </listeners>

<!--    <coverage cacheDirectory=".phpunit.cache/code-coverage"-->
<!--              processUncoveredFiles="true">-->
<!--        <include>-->
<!--            <directory suffix=".php">lib</directory>-->
<!--        </include>-->
<!--    </coverage>-->
</phpunit>
